{% extends "base.html" %}
{% block title %}Registrarse{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Registrarse</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Correo" required />
        <input type="text" name="username" placeholder="Nombre de usuario" required />
        <input type="password" name="password" placeholder="Contraseña" required />
        <label for="profile_pic">Foto de perfil (opcional):</label>
        <input type="file" name="profile_pic" accept="image/*" />
        <button type="submit" class="btn-submit">Registrarse</button>
    </form>
</div>
{% endblock %}
